/*Navbar*/
.logo-navbar img{
	width: 100px !important;
	margin-left: 15% !important;
}

.nav-links{
	padding: 0;
}

/*Seção de informações*/
#information{
	height: 100%;
}

#information h1, #adicionais h1{
	text-align: center;
	font-size: 30px;
	margin: 15px 0 15px 0;
}

.modelos{
	display:flex;
}

.about-text-left{
	width: 100% !important;
	padding: 0 15px 0 15px !important;
}

.about-text-left h2{
	color: #296ba7;
}

.about-text-left h2 span{
	color: #f1c232;
}

.about-text-left p{
	white-space: pre-line
}

.about-text-left p span{
	font-weight: bold;
}

.photo-aditional{
	width: 100%;
	display: flex;
	justify-content: center;
}

.photo-aditional img{
	width: 60%;
	object-fit: cover;
}
